#map {
    width: 100%;
    height: 100%;
}

strong {
    font-weight: bold !important;
}

.tachado {
    text-decoration: line-through;
}

small {
   white-space: inherit !important;
}

.welcome {
    width: 100%;
}
